<div class="container text-center mt-5">
  <h1 class="display-4">Anta-Santa 〜大人のサンタさん通知表〜</h1>
  <p class="lead">あなたの 素敵な活動に基づき、仲間からの評価を集計します。</p>

  <% unless user_signed_in? %>
    <div class="mt-4">
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-dark btn-lg" do %>
        <i class="fab fa-github"></i> GitHubでログインして始める
      <% end %>
    </div>
  <% end %>
</div>